@model SimpleEntity

@{
    ViewData["Title"] = "Сущность " + Model.Name;
}
<h1>@ViewData["Title"]</h1>

<form id="entity-update-form">
    <div class="row">
        <label class="form-label col col-lg-6">
            Id
            <input type="text" name="id" class="form-control" disabled value="@Model.Id" />
        </label>
    </div>
    <div class="row">
        <label class="form-label col col-lg-6">
            Имя
            <input type="text" name="name" class="form-control" value="@Model.Name" />
        </label>
    </div>
    <div class="row">
        <label class="form-label col col-lg-6">
            Описание
            <input type="text" name="description" class="form-control" value="@Model.Description" />
        </label>
    </div>
    <div class="row">
        <label class="form-label col col-lg-6">
            Тип
            <input type="text" name="type" class="form-control" value="@Model.Type" />
        </label>
    </div>
    <button type="button" class="btn btn-primary js-update-entity">Сохранить</button>
</form>

