@model IEnumerable<SimpleEntity>

@{
    ViewData["Title"] = "Список сущностей";
}
<h1>@ViewData["Title"]</h1>

<h3>Добавить новую сущность</h3>
<form id="entity-create-form">
    <div class="row">
        <label class="form-label col col-lg-6">
            Имя
            <input type="text" name="name" class="form-control" value="" />
        </label>
    </div>
    <div class="row">
        <label class="form-label col col-lg-6">
            Описание
            <input type="text" name="description" class="form-control" value="" />
        </label>
    </div>
    <div class="row">
        <label class="form-label col col-lg-6">
            Тип
            <input type="text" name="type" class="form-control" value="" />
        </label>
    </div>
    <button type="button" class="btn btn-primary js-add-entity">Добавить</button>
</form>

<h3>Список сущностей</h3>

<table class="table table-hover js-entities-table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Имя</td>
            <td>Описание</td>
            <td>Тип</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
    @foreach (var entity in Model)
    {
        <tr>
            <td>@entity.Id</td>
            <td><a href="/entities/entity/@entity.Id">@entity.Name</a></td>
            <td>@entity.Description</td>
            <td>@entity.Type</td>
            <td><button class="btn btn-danger js-remove-entity" data-id="@entity.Id">Удалить</button></td>
        </tr>
    }
    </tbody>
</table>

<template id="rowEntityTemplate">
    <tr>
        <td></td>
        <td><a></a></td>
        <td></td>
        <td></td>
        <td><button class="btn btn-danger js-remove-entity" data-id="">Удалить</button></td>
    </tr>
</template>

@if (!Model.Any())
{
    <p>Еще нет ни одной сущности</p>
}