@using WebApp.Services
@model TimeExample
@inject TransientTime transientTime
@inject ScopedTime scopedTime
@inject SingletonTime singletonTime

@{
    ViewData["Title"] = "Демонстрация жизненных циклов";
}

<div class="text-center">
    <h1 class="display-4">Демонстрация жизненных циклов</h1>

    <p>Transient каждый разный в каждом столбце. Scoped меняется только при перезагрузке страницы. Singleton всегда один.</p>
    <table class="table table-hover">
        <tr>
            <td><b>Жизненный цикл</b></td>
            <td><b>Полученны в контроллере</b></td>
            <td><b>Полученны во View</b></td>
        </tr>
        <tr>
            <td><b>Transient</b></td>
            <td>@Model.TransientTime</td>
            <td>@transientTime.GetTime()</td>
        </tr>
        <tr>
            <td><b>Scoped</b></td>
            <td>@Model.ScopedTime</td>
            <td>@scopedTime.GetTime()</td>
        </tr>
        <tr>
            <td><b>Singleton</b></td>
            <td>@Model.SingletonTime</td>
            <td>@singletonTime.GetTime()</td>
        </tr>
    </table>
    
</div>
